.hero{
    background: url("../assets/images/Cover.png") no-repeat center center / cover;
    padding: 4rem 0;

    h1,h3{
        color: #fff;
        font-weight: 500;
    }

    h1{
        font-size: 4rem;
        margin-bottom: 1rem;
    }

    h3{
        font-weight: 400;
        color: #ebebeb;
    }

    button{
        margin-top: 1.5rem;
    }

}